#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config KAMELEON_CORE
	bool "Kameleon Core"
	default y
	---help---
		Enable the Kameleon Core
